{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/SD Student/Documents/GitHub/sd22-p08-symfony-project-x-D-CYL/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/Users/SD Student/Documents/GitHub/sd22-p08-symfony-project-x-D-CYL/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
